:root {
  --color-1: #f3efe0;
  --color-2: #434242;
  --color-3: #222222;
  --color-4: #22a39f;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  gap: 5px;
}

ul {
  list-style: none;
}

a {
  color: var(--color-1);
  text-decoration: none;
}

header a:hover {
  color: var(--color-4);
  text-shadow: 0px 0px 10px var(--color-4);
}

header {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  justify-content: flex-end;
  padding: 30px 20px;
}

.navbar {
  display: flex;
  flex-direction: row;
  gap: 20px;
  font-size: 2rem;
}

.social-icons {
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-items: center;
}

.name {
  color: var(--color-4);
}

/* Main content */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

.main-content {
  width: 80vw;
  color: var(--color-1);
  font-size: 2rem;
  margin: 0 auto;
}

/* .main-skills {
  display: flex;
  flex-direction: row;
  color: var(--color-3);
  justify-content: center;
  gap: 20px;
  width: 80vw;
}

.main-skills div {
  flex: 1;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-1);
  padding: 20px;
  border-radius: 10px;
}

.main-skills div ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-top: 20px;
}

.main-skills div ul li {
  background-color: var(--color-4);
  color: var(--color-1);
  padding: 8px;
  text-align: center;
  border-radius: 5px;
}

.main-skills__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-1);
  margin-top: 250px;
  margin-bottom: 50px;
}

.bar {
  height: 3px;
  width: 100px;
  background-color: var(--color-4);
} */

.main-buttons {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.main-buttons a {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 160px;
  height: 50px;
  border: 2px solid var(--color-1);
  color: var(--color-1);
  background: none;
  font-size: 1.5rem;
  box-shadow: inset 0 0 0 0 var(--color-4);
  transition: ease-out 0.3s;
  outline: none;
  border-radius: 2px;
}

.main-buttons a:hover {
  box-shadow: inset 160px 0 0 0 var(--color-4);
  cursor: pointer;
  color: var(--color-2);
}

/* Footer */
footer {
  color: var(--color-1);
  font-size: 1rem;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 10px;
  align-items: center;
  height: 30px;
  flex-basis: 0;
  padding-bottom: 20px;
}
/* Media queries */
@media (max-width: 576px) {
  header {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .main-content {
    font-size: 1.3rem;
  }

  .main-buttons {
    gap: 30px;
  }
}

@media (max-width: 830px) {
  .main-content {
    font-size: 1.5rem;
  }
}

/* Page animation */
.animate-onload-from-left {
  animation: 1s ease-in-out 0s 1 slideInFromLeft;
}

@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-onload-from-right {
  animation: 1s ease-in-out 0s 1 slideInFromRight;
}

@keyframes slideInFromRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.icon-rotation:hover {
  animation: 0.5s ease-in-out 0s 1 rotation;
}

@keyframes rotation {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
